<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class=parent>
    <h1>Меню выбора</h1>

    <button class="button" th:onclick="window.location.href='addInventory'" style="vertical-align:middle"><span>Добавить инвентарь в кабинет </span>
    </button>

<!--    <a th:href="@{/addInventory}">-->
<!--        <button class="button" style="vertical-align:middle">-->
<!--            <span>Add inventory to the office </span>-->
<!--        </button>-->
<!--    </a>-->

    <button class="button" th:onclick="window.location.href='moveInventory'" style="vertical-align:middle"><span>Переместить инвентарь из кабинета в кабинет </span>
    </button>

    <button class="button" th:onclick="window.location.href='removeInventory'" style="vertical-align:middle"><span>Списать инвентарь из кабинета </span>
    </button>

    <button class="button" th:onclick="window.location.href='search'" style="vertical-align:middle"><span>Поиск </span>
    </button>

</div>
</body>
</html>