<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}"/>
</head>
<body>
<div class="container">
    <h1>Move items</h1>
    <form action="movedInventory">
        <div class="row">
            <div class="col-50">
                <label>From office</label>
            </div>
            <div class="col-50">
                <input type="number" name="fromOffice" placeholder="From office"/>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <label>To office</label>
            </div>
            <div class="col-50">
                <input type="number" name="toOffice" placeholder="To office"/>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <label>Inventory number</label>
            </div>
            <div class="col-50">
                <input type="number" name="invNumber" placeholder="Inventory number"/>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <label>Count items</label>
            </div>
            <div class="col-50">
                <input type="number" name="countItems" placeholder="Count items"/>
            </div>
        </div>
        <button class="button" type="submit">Move</button>
    </form>
</div>
</body>
</html>