<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style5.css}"/>
</head>
<body>
<div class="container">
    <h1>Списание инвентаря</h1>
    <form action="removedInventory">
        <div class="row">
            <div class="col-50">
                <label>Из кабинета</label>
            </div>
            <div class="col-50">
                <input type="number" name="fromOffice" placeholder="Номер кабинета"/>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <label>Инвентарный номер</label>
            </div>
            <div class="col-50">
                <input type="number" name="invNumber" placeholder="Инвентарный номер"/>
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <label>Количество инвентаря</label>
            </div>
            <div class="col-50">
                <input type="number" name="countItems" placeholder="Количество инвентаря"/>
            </div>
        </div>
        <button class="button" type="submit">Списать</button>
    </form>
</div>
</body>
</html>