<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style4.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style3.css}"/>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Search</h1>
    <form method="post">
        <div class="row">
            <div class="col-70-left">
                <input type="number" id="officeOrInvNumber" name="officeOrInvNumber" placeholder="Number of office or inventory number"/>
            </div>
            <div class="col-15-left">
                <select name="choice" id="choice">
                    <option value="office">Office</option>
                    <option value="invNumber">Inventory number</option>
                </select>
            </div>
            <div class="col-12-right">
                <button class="button" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<div id="margin">
<table id="custom">
    <thead id="head">
    </thead>
    <tbody id="items">
    </tbody>
</table>
</div>

<script>
$(document).ready(function () {
    $("form").submit(function (event) {
        var formData = {
            officeOrInvNumber: $("#officeOrInvNumber").val(),
            choice: $("#choice").val()
};

$.ajax({
    url: "/searchItems",
    type: "POST",
    data: formData
}).done(function(data) {
    $('#items').empty();
    $('#head').empty();

    var tableHead =
        '<th>Inventory Number</th>' +
        '<th>Description</th>' +
        '<th>Count items</th>' +
        '<th>Office number</th>' +
        '<th>Operations</th>';

    $('#head').append(tableHead);

    var html = '';

    for (let i = 0; i < data.length; i++) {
        html +=
        `<tr id = ${i}>
            <td> ${data[i].number} </td>
            <td> ${data[i].description} </td>
            <td> ${data[i].countItems} </td>
            <td> ${data[i].office.officeNumber} </td>

            <td>` +
                `<a href="/updateInfo/${data[i].id}">` +
                    '<button id="update" class="buttonTable">' +
                        '<span>Update</span>' +
                    '</button>' +
                '</a>' +

               `<button id="delete" class="buttonTable" onclick="deleteRow(this, ${data[i].id})">` +
                    '<span>Delete</span>' +
               '</button>' +
            `</td>
        </tr>`;
    }
    $('#items').append(html);
});
    event.preventDefault();
});
});

function deleteRow(r, id) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("custom").deleteRow(i);

   $.ajax({
        url: /deleteItem/ + id,
        type: 'GET',
        });
};

</script>
</body>
</html>