<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
</head>
<body>
<br>
<br>
<div class="container">
    <h1>Обновление инвентаря</h1>
    <form th:action="@{/updateInventory}" method="POST" th:object="${item}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{office.id}"/>
        <input type="hidden" th:field="*{office.officeNumber}"/>
        <div class="row">
            <div class="col-50">
                <label>Инвентарный номер</label>
            </div>
            <div class="col-50">
                <input type="number" placeholder="Инвентарный номер" th:field="*{number}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Описание инвентаря</label>
            </div>
            <div class="col-50">
                <textarea placeholder="Описание" th:field="*{description}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Количество инвентаря</label>
            </div>
            <div class="col-50">
                <input type="number" placeholder="Количество инвентаря" th:field="*{countItems}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label>Номер кабинета</label>
            </div>
            <div class="col-50">
                <input type="number" placeholder="Номер кабинета" th:field="*{office.officeNumber}"/>
            </div>
        </div>
        <div class="row">
            <button class="button" type="submit">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>
